<!--header-->
<header class="Header-container">
    <div class="container">
      <div class="row Header-containerAlignV">
        <div class="col-xs-6">
          <h1>AdsiShop</h1>
        </div>
        <div class="col-xs-6 text-right">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu">
            <i class="fa fa-bars"></i>
            <!--   &#9776;  -->
          </button>
          <a href="#" class="Login hidden-xs">Login</a>
        </div>
      </div>
    </div>
</header>
<!--/header-->

<!--menu-->
<div class="MenuContainer">
  <nav class="collapse navbar navbar-collapse Navbar-margin" id="navMenu">
    <div class="container">
      <div class="row AlignNavbar">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 AlignIitemsNavbar">

          <ul class="nav navbar-nav">
            <li>
              <a href="" class="navbar-link text-center" ng-click = "vm.ocultarCollapse()">Home</a>
            </li>
            <li>
              <a href="" class="navbar-link text-center" ng-click = "vm.ocultarCollapse()">Catálogo</a>
            </li>
            <li>
              <a href="" class="navbar-link text-center" ng-click = "vm.ocultarCollapse()">Carrito</a>
            </li>
            <li>
              <a href="" class="navbar-link text-center hidden-sm hidden-md hidden-lg" ng-click = "vm.ocultarCollapse()">Login</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6 hidden-xs MarginSearch-main">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Encontro lo que buscaba">
              <span class="input-group-btn">
                <button class="btn Btn-adsi">
                  <span class="hidden-xs hidden-sm">Buscar</span>
                  <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg MarginTopSearch">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Encontro lo que buscaba">
        <span class="input-group-btn">
          <button class="btn Btn-adsi">
            <span class="hidden-xs hidden-sm">Buscar</span>
            <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<!--/menu-->
