.AlignNavbar
  display flex
  align-items center
  flex-flow row wrap
.AlignItemsNavbar
  display flex
  justify-content center
.Header-container, .InfoContainer
  background #99c84a
  color white
.Header-container .navbar-toggle
  color white
  font-weight boold
  font-size 25px
.Header-container .Login
  color white
  font-weight boold
  font-size 20px
  text-transform uppercase
.Header-containerAlignV
  display flex
  align-items center
.Header-containerAlignV > div > h1
  margin-top 0
  margin-bottom 0
.IconSearch
  font-size 20px
input.form-control:focus
  border-color #99c84a
.navbar-nav > li > a
  color #363636
.Navbar-margin
  margin-bottom 0
.Menu-container
  background-color #f7f7f9
.MarginTopSearch
  margin-top 1em
  margin-bottom 1em
.btn.Btn-adsi
  background-color #99c84a
  color white
.btn.Btn-adsi:hover
  background-color #8ab542
@media (max-widht: 991px)
  .MarginSearch-main
    margin-bottom 1em
