.Slider
  width 100%
  height 300px
.Scroll
  margin-right 0
  margin-left 0
.Padding
  padding-right 0
  padding-left 0
.InfoContainer
  padd-top 1em
  background-color #9EF4E6
.InfoContainer h4
  margin 1em 0
  color #12CC94
  font-weight boold
